<%= provide(:title, 'Make Middle School Easy') %>
<body class="splash">
<div class="banner">
  <h1>Making middle school make sense</h1>
  <h3>Free lessons and inspiring topics to develop real math and science skills</h3>
    <a href="/math" class="button custom">Math Homework</a>  
    <a href="/long-reads" class="button custom">Inspiring Science</a>
</div>
<div class="row custom">
  <div class="nav banner">
      <a href="/math#"><div class="small-3 column">
        <h3>
          <span class="lg-break">Math </span>
          <span class="lg-break">Videos </span>
        </h3>
        <p>make math logical for any student with videos and “cheat sheets”</p>
        <i class="fa fa-paper-plane-o"></i>
      </div> </a> 
      <div class="small-3 column">
        <h3>
          <span class="lg-break">Long </span>
          <span class="lg-break">Reads</span>
          </h3>
        <p>engage students in modern science and social topics not found in textbooks</p>
        <i class="fa fa-binoculars"></i>
      </div>
    <div class="small-3 column">
      <h3>
        <span class="lg-break">Work</span><span class="lg-break">books</span></h3>
      <p>bridge the gap between Common Core and math and science skill</p>
      <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="small-3 column">
      <h3 style="color:grey">
        <span class="lg-break">Why </span>
        <span class="lg-break">donate?</span>
      </h3>
      <p style="color:grey">Find out how $5 creates more helpful tools for your student</p>
      <i class="fa fa-child"></i>
    </div>
  </div>
</div>
<section style="padding:5em">
</section>  
</div>
<div class="row">
  <div class="info">
    <h3>What is commonground?</h3>
    <p>
This is a community supported library of simplified and well-rounded middle school lessons tailored to students who feel lost and helpless. 
Too often students lose confidence in their ability to learn, which is costly to their future. 
The goal here is for students to understand that they can learn anything, and that what they learn can be exciting and practical. 
Normal curricula are unable to slow down, connect ideas, and encourage creative thought and research. 
Commonground strives to bridge that gap between these natural and necessary skills our future leaders need and the concepts required in school. 
    </p>
  </div>
</div>
<div>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
  O<br>
</div>

</body>
