<%= provide(:title, 'Make Middle School Easy') %>
<body class="splash">
<div class="banner">
  <h1>Making middle school make sense</h1>
  <h3>Free lessons and inspiring topics to develop real math and science skills</h3>
    <a href="/math" class="button custom">Math Homework</a>  
    <a href="/long-reads" class="button custom">Inspiring Science</a>
</div>
<div class="row custom">
  <div class="nav banner">
      <%= link_to math_path, :action => 'go' do %>
        <div class="small-3 column">
          <h3>
            <span class="lg-break">Math </span>
            <span class="lg-break">Videos </span>
          </h3>
          <p>make math logical for any student with videos and “cheat sheets”</p>
          <i class="fa fa-paper-plane-o"></i>
        </div>
      <% end %>
      <div class="small-3 column">
        <h3>
          <span class="lg-break">Long </span>
          <span class="lg-break">Reads</span>
          </h3>
        <p>engage students in modern science and social topics not found in textbooks</p>
        <i class="fa fa-binoculars"></i>
      </div>
    <div class="small-3 column">
      <h3>
        <span class="lg-break">Work</span><span class="lg-break">books</span></h3>
      <p>bridge the gap between Common Core and math and science skill</p>
      <i class="fa fa-graduation-cap"></i>
    </div>
    <div class="small-3 column">
      <h3 style="color:grey">
        <span class="lg-break">Why </span>
        <span class="lg-break">donate?</span>
      </h3>
      <p style="color:grey">Find out how $5 creates more helpful tools for your student</p>
      <i class="fa fa-child"></i>
    </div>
  </div>
</div>
<section style="padding:5em">
</section>  
</div>
<div class="row">
  <div class="info">
    <h3>What is commonground?</h3>
    <p>
This is a community supported library of simplified and well-rounded middle school lessons tailored to students who feel lost or uninspired. 
The goal here is for students to gain confidence and realize that they can learn anything!
Commonground strives to bridge the gap between these natural and necessary skills our future leaders need and the concepts required in school. 
    <p>
  </div>
</div>
<div>
</div>

</body>
