<%= provide(:title, 'Long Reads for Kids') %>
<body class="splash">
  <div class="banner">
    <h1>Long Reads for Students</h1>
    <h3>Discover the issues our world faces today</h3>
      <a href="#" class="button custom">Modern Science</a>  
      <a href="#" class="button custom">Politics</a>
      <a href="#" class="button custom">Economics</a>
      <a href="#" class="button custom">Literature</a>
      <a href="#" class="button custom">All</a>
  </div>
  <div>
    <h3 style="color:white; float:center;">This is where the list of long reads would go depending on the buttons in the banner.</h3>
  </div>
</body>