<%= provide(:title, 'Math') %>

<div class="banner">
  <h1>
    Math made simple
  </h1>
  <h3>
    Choose your grade and topic, and start exploring
  </h3>
  <i class="fa o fa-compass"></i><i class="fa o fa-map-o"></i>
</div>
<div>
  <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <li class="accordion-item custom" data-accordion-item>
      <a href="#" class="accordion-title custom"><h3>Grade 6</h3></a>
      <div class="accordion-content custom" data-tab-content>
        Grade 6 is the year when you learn the basic stuff about making equations and formulas. 
      </div>
    </li>
    <li class="accordion-item custom" data-accordion-item>
      <a href="#" class="accordion-title custom"><h3>Grade 7</h3></a>
      <div class="accordion-content custom" data-tab-content>
        I would start in the open state, due to using the `is-active` state class.
      </div>
    </li>
    <li class="accordion-item custom" data-accordion-item>
      <a href="#" class="accordion-title custom"><h3>Grade 8</h3></a>
      <div class="accordion-content custom" data-tab-content>
        I would start in the open state, due to using the `is-active` state class.
      </div>
    </li>
  </ul>
</div>