<h3><%= link_to blog_post.title, '/blog/'+blog_post.slug %></h3>
<p class="meta">Written by <%= blog_post.author_name %> on <%= blog_post.published_at.to_date.to_formatted_s :long_ordinal %></p>
<p class="intro"><%= truncate(blog_post.body, length: 120, :escape => false) %></p>