$body-background: #04052c;
$header-font-family: "Ubuntu" Helvetica, Arial, sans-serif;
$h1-font-size: em-calc(55);
$h2-font-size: em-calc(48);
$h3-font-size: em-calc(40);
$h4-font-size: em-calc(33);
$h5-font-size: em-calc(22);
$h6-font-size: em-calc(18);
$paragraph-font-size: em-calc(22);
$topbar-background: #FFF;
$header-font-color: #222;
$header-font-weight: 700;
$header-font-size: 5em;
$body-font-family: 'Ubuntu', Helvetica, Arial, sans-serif;


.splash {
  background-image: image-url("space-long.jpeg");
  background-size: 100%;
  background-attachment: scroll;
  background-position: right 16em;
  background-repeat: no-repeat;
}

nav.top-bar {
  h2 {
    line-height: 1;
  }
}

.banner {
  padding: 2.5em;
  text-align: center !important;
  background-color: #04052c;
  h1 {
    line-height: 1;
    font-weight:heavy;
    color: #fff;
    font-family: 'Droid Serif', serif;
    margin-bottom:0.2em;
    }
  h3, h4 {
    line-height: 1.2;
    font-weight:normal;
    color: #efefef;
    font-family: 'Droid Serif', serif;
    margin: 0.2em 0 0.2em 0;
  }
}

.button.custom {
  background-color:transparent;
  border-width: 0.1875em;
  border-radius: 0.25em;
  border-color: #fff;
  margin: 0.75em 1em 0 1em;
  font-weight: 500;
}

div.row {
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.row.custom {
  background-color: #fff;
  max-width: none;
  margin-color: transparent;
}

.row.dark {
  background-color:#04052c;
}

.nav.banner {
  background-color: #fff;
  text-align: center !important;
  font-family: 'Ubuntu', sans-serif;
  padding: 0;
  h3 {
    font-weight: 700;
    color: #222;
    font-family: inherit;
    margin:0.1em 0 0.2em 0;
  }
  h4 {
    font-family:initial;
    color:grey;
  }
  h5 {
    color:#04052c;
    font-weight:500;
  }
  p {
    line-height:1.4;
    font-weight:500;
    font-family: inherit;
    margin:0 0;
    padding: 0;
  }
}

.info {
  background-color:#ffffff88;
  padding: 1rem;
  h2 {
    color: #fff;
  }
  p {
    color:#04052c;
    line-height:1.5;
    font-weight:400;
    font-family: inherit;
    font-size:1.1rem;
  }
}

.inspo {
  h2 {
    font-family:initial;
    line-height:3;
    font-weight:500;
    text-align:center;
    color:#fff;
  }
  h3 {
    font-family:initial;
    line-height:3;
    font-weight:500;
    text-align:center;
    color:#efefef;
  }
  blockquote {
    font-size:1.5rem;
    margin:1.5rem;
  }
  h6 {
    color: #efefef;
    font-weight:500;
  }
}
                                      //   icons
i.fa {
  font-size:3em;
  color:#04052c;
  margin: 0.2em 0.5em 0.2em 0.5em;
}

i.o {
  color:#fff;
  font-size:3em;
  margin: 0.065em
}

i.sm {
  font-size: 1em;
  color:#fff;
}

                                   //   Video
.video {

}

                              //    Math page
.accordion-item.custom {
  padding:0.1rem 0.2rem;
}
.accordion-content.custom {
  
}
.accordion-title.custom {
  font-size:1.5rem;
  font-color: #04052c;
  font-weight:500;
  padding:0.5rem 0.5rem;
}

.accordion-title.custom::before {
  margin-top: -1rem;
}

.grades {
  padding: 0.4em;
  margin: 0.2em;
  border-style:dashed;
  border-color:grey;
  h3 {
    color:#04052c;
  }
}

                                        //   Blog
                                        //  index
.posts {
  list-style:none;
  li {
    margin-top:0.2rem;
  }
  .meta {
    font-weight: 400;
    font-size: 0.75rem;
    color:#565454;
    margin: 0;
  }
  .intro {
    font-family:initial;
  }
  .post-body {
    font-family: initial;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  h3 {
    margin: 0;
  }
}
                                        //   show
.post {
  padding-bottom:2rem;
  
  li {
    margin-top:0.2rem;
  }
  .meta {
    font-weight: 400;
    font-size: 0.75rem;
    color:#565454;
    margin: 0;
    text-align: center;
  }
  .intro {
    font-family:initial;
  }
  .post-body {
    font-family: initial;
    margin: 2rem 8rem 0 8rem;
    font-size: 1.2rem;
    line-height: 1.5;
  }
  h3 {
    text-align: center;
    margin: 1rem 0 0 0;
  }
}
                                        //   home feed
.postlets {
    list-style:none;
    margin:0;
  li {
    margin-top:0.2rem;
  }
  h3 {
    font-family:initial;
    margin-bottom: 0;
    font-size:1.6rem;
    font-weight:500;
    color:white;
  }
  .meta {
    display:none;
  }
  .intro {
    font-size:1rem;
    color:white;
    line-height:1.3;
    color:light-gray;
  }
}


.blog {
  border: 3px solid white;
  padding: 1rem;
  margin: 3rem;
  h2, a, a:hover, a:active {
    color: white;  
  }
  h2 {
    font-weight:600;
    font-family:initial;
  }
}

//    Footer
footer {
  background-color: #04052c;
  font-family: 'Ubuntu', sans-serif; 
  text-align: center !important;
  line-height:1;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.75rem;
}

// Minor details

.lg-break {display: inline;}
.md-break {display: block;}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lg-break {display: block; }}
@media screen and (min-width: 640px)
{.md-break { display: inline; }}

// Media Queries
@media screen and (min-width: 768) {
  .splash {
    //  background-image: image-url("space-long.jpeg");
    //  background-size: 100%;
    //  background-attachment: scroll;
    //  background-position: right 25em;
     // background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 768px) {
  div.column {
  width: 50%;
  position:relative;
  }
  body {
    font-size:90%;
  }
}
@media only screen and (max-width: 360px) {
  div.column {
  width: 100%;
  position:relative;
}
body {
    font-size:60%;
  }
}